<% title "CSC | Users " %>
<h3>CSC | VLE | VLE Registration</h3>
<div class="help_text">
  Area for VLE Registration. <br/>
  A valid information should be given by VLE.<br/>
</div>
<%= render 'form',:heading => 'Create New User' %>