<% title "CSC | Users " %>
<h3>CSC | USERS | User Registration</h3>
<div class="help_text">
  Area for User Registration. <br/>
  A valid information should be given.<br/>
</div>
<%= render 'form',:heading => 'Create New User' %>
<div class="link_buttons">
  <%=link_to_all(users_path)%>
</div>